<table dataid = "players-list" id="airyards-table" class="w-full rounded-lg" data-sortable>
  <thead>
    <tr class="text-xs text-white rounded-lg subpixel-antialiased cursor-pointer">
      <th class="text-left data-header">Player</th>
      <th class="data-header">Team Name</th>
      <th class="data-header">Position</th>
      <th class="data-header">{{stat1}}</th>
      <th class="data-header">{{stat2}}</th>
      <th class="data-header">{{stat3}}</th>
      <th class="data-header">{{stat4}}</th>
      <th class="data-header">{{stat5}}</th>
      <th class="data-header">{{stat6}}</th>
      <th class="data-header">Select Player</th>
    </tr>
  </thead>
  <tbody class="striped">
    {{#each players}}
      <tr>
        <td class="text-left">{{this.name}}</td>
        <td class="text-center">{{this.team}}</td>
        <td class="text-center">{{this.position}}</td>
        <td class="text-center">{{this.tackles}}</td>
        <td class="text-center">{{this.sacks}}</td>
        <td class="text-center">{{this.interceptions}}</td>
        <td class="text-center">{{this.intTouchdowns}}</td>
        <td class="text-center">{{this.forcedFumbles}}</td>
        <td class="text-center">{{this.ffTouchdowns}}</td>
       <td class="text-center" >
          <button 
            class="add-btn"
            data-index={{@index}}
            data-rank={{this.rank}}
            data-name={{this.name}}
            data-team={{this.team}}
            {{!-- data-position={{this.position}} --}}
            data-stat1={{this.tackles}}
            data-stat2={{this.sacks}}
            data-stat3={{this.interceptions}}
            data-stat4={{this.intTouchdowns}}
            data-stat5={{this.forcedFumbles}}
            data-stat6={{this.ffTouchdowns}}
          >
            Add
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>