<table dataid = "players-list" id="airyards-table" class="w-full rounded-lg" data-sortable>
  <thead>
    <tr class="text-xs text-white rounded-lg subpixel-antialiased cursor-pointer">
      <th class="text-left data-header">Player</th>
      <th class="data-header">Team Name</th>
      <th class="data-header">Position</th>
      <th class="data-header">{{stat1}}</th>
      <th class="data-header">{{stat2}}</th>
      <th class="data-header">{{stat3}}</th>
      <th class="data-header">{{stat4}}</th>
      <th class="data-header">{{stat5}}</th>
      <th class="data-header">{{stat6}}</th>
      <th class="data-header">Select Player</th>
    </tr>
  </thead>
  <tbody class="striped">
    {{#each players}}
      <tr>
        <td class="text-left">{{this.name}}</td>
        <td class="text-center">{{this.team}}</td>
        <td class="text-center">{{this.position}}</td>
        <td class="text-center">{{this.fga}}</td>
        <td class="text-center">{{this.fgm}}</td>
        <td class="text-center">{{this.fgp}}</td>
        <td class="text-center">{{this.epa}}</td>
        <td class="text-center">{{this.epm}}</td>
        <td class="text-center">{{this.epp}}</td>
        <td class="text center"><button id="add-btn">Add</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>